@font-face {
    font-family: "play";
    src: url("../../public/fonts/PlayfairDisplay-Regular.ttf");
}
@font-face {
    font-family: "playb";
    src: url("../../public/fonts/PlayfairDisplay-Bold.ttf");
}