@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

//* Création de variable SASS
$couleurRouge : #f71b09;
$orange: hsl(37, 81%, 56%);
$gris: hsl(0, 0%, 33%);
$orangec: hsl(33, 82%, 96%);
$noir: hsl(23, 15%, 10%);

// BOOTSTRAP --------------------------------------------------------- //

//* Création de Spacer 
$spacer : 5px;

$spacers : map-merge($spacers, (
    0 : 0px ,
    1 : $spacer*1 ,
    2 : $spacer*2 ,
    3 : $spacer*3 ,
    4 : $spacer*4 ,
    5 : $spacer*5 ,
    6 : $spacer*8 ,
    7 : $spacer*10 ,
));

$couleur-perso : (
    "orange" : hsl(37, 81%, 56%),
    "gris"   : hsl(0, 0%, 33%),
    "orangec": hsl(33, 82%, 96%),
    "noir": hsl(23, 15%, 10%),
);

$theme-colors : map-merge($theme-colors , $couleur-perso);