main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.categories{
    background-color: $orangec;
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: inherit;
    align-items: center;
    margin-top: 40px;
    padding: 0px 40px;
    font-family: 'play';
    text-align: start;
}
.entete{
    background: $orange;
    color: white;
    border-radius: 0.3rem;
    padding: 25px;
    margin: 0px 40px;
}
.row{
    align-items: center;

}
.categories h1{
    color: white;
    font-weight: 300;
    line-height: 1.2;
}
.tel{
    display: inline-flex;
    text-align: start;
    align-items: center;
}