.categories{
    background-color: $orangec;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: inherit;
    justify-content: center;
    margin-top: 40px;
    padding: 0px 40px;
    font-family: 'play';
}
.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.entete{
    background: $orange;
    color: white;
    border-radius: 0.3rem;
    padding: 25px;
    margin: 0px 40px;
    width: 100%;
}
.bakery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5% 0%;
    width: 40%;
}
.bakery h5{
    color: $orange;
}
.bakery h1{
    color: black;
}
.categorie .row{
    align-items: center;

}
.entete h1{
    color: white;
    font-family: 'playb';
    line-height: 1.2;
}

.tel{
    display: inline-flex;
    text-align: start;
    align-items: center;
}
.numero{
    margin-left: 20px;
}
.produits{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 0.3rem;
}
.produittext{
    text-align: center;
    padding: 25px;
}
.prixproduit{
    display: inline-block;
    border: 1px $orange solid;
    border-radius: 50rem;
    padding: 0px 15px 0px 15px;
    margin-bottom: 20px;
}
.produits .produit {
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.produits:hover .produit {
    height: 100%;
    opacity: 1;
}
.produit .btn{
    color: white;
    border-radius: 50rem;
    padding: 15px 25px 15px 25px;
    font-family: 'playb';
    margin-top: 20px;
}