
nav{
    background-color: $noir;
    font-family: 'play';
}

nav h1{
    color:$orange ;
    font-family: 'playb';
}
// @media screen and (max-width: 330px) {
//     .navbar h1{
//         margin-top: 30%;
//         font-size: 0.5rem;
//         margin-left: 30%;
//     }
// }
// @media screen and (max-width: 380px) {
//     .navbar-brand{
//         margin-top: 30%;
//         margin-left: 30%;
//         font-size: 0.5rem;
//     }
// }
// @media screen and (max-width: 430px) {
//     .navbar h1{
//         margin-top: 30%;
//         margin-left: 20%;
//         font-size: 1rem;
//     }
//     .list{
//         margin: 10%;
//     }

// }
@media screen and (max-width: 770px) {
    .list{
        display: flex;
        flex-direction: row;
        margin: 10%;
        font-size: 1rem;
    }  
    .texteheader h1{
        font-size: 1.5rem;
    }
    .texteheader h6{
        font-size: 1rem;
    }
    .texteheader p{
        font-size: 0.8rem;
        margin-bottom: 0%;
    }
    header .btn {
        padding: 7.5px 12.5px 7.5px 12.5px;
    }
    header{
        height: 50vh;
    }
    .texteheader{
        margin-top: -8%;
    }
}

nav i{
    color: $orange;
}

.call{
    display: flex;
}
.phone{
    flex-shrink: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    width: 50px;
    height: 50px;
    border: 1px solid $orangec;
    border-radius: 50%;
}
.phone i{
    color: $orange;
}
.call small{
    color: $orange;
}
.call p{
    color: $orangec;
}

.navbar .navbar-nav .nav-link {
    color: $orangec;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.Home {
    color: $orange;
}


// HEADER-------------

header {
    margin-top: 50px;
}
header h1{
    font-family: 'playb';
    color: $orangec;
    font-weight: 300;
    font-size: 4rem;
    margin-bottom: 20px;
}
// @media screen and (max-width: 370px) {
//     header h1{
//     font-size: 1rem;
//    }

header p{
    font-family: 'play';
    color: $orangec;
    font-size: 1rem;
}

header h6{
    color: $orange;
    font-size: 1.2rem;
    font-family: 'playb';
    font-weight: 700;
}
header .btn  {
    background-color: $orange;
    color: white;
    border-radius: 50rem;
    padding: 15px 25px 15px 25px;
    font-family: 'playb';
    margin-top: 20px;
}

.fond {
    background: url('../../../public/images/carousel-1.jpg'); 
    height: 100vh; 
    background-repeat: no-repeat;
    background-size: 100%;
}

.fond2 {
    background: url('../../../public/images/carousel-2.jpg'); 
    height: 100vh; 
    background-repeat: no-repeat;
    background-size: 100%;
}

.texteheader{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2%;
    margin-left: 5%;
    margin-top: 15%;
}
