.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carrousel1{
    background-image: url(../../../public/images/carousel-1.jpg);
}
.carrousel2{
    background-image: url(../../../public/images/carousel-2.jpg);
}