.team{
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0px;
    font-family: 'play';
    text-align: start;
}
.team-card .team-text {
    position: relative;
    height: 100px;
    overflow: hidden;
}

.team-card .team-titre {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $orangec;
}

.team-card:hover .team-titre {
    top: -100px;
}

.team-card .team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $orange;
    transition: .5s;
}

.team-card .team-social .btn {
    margin: 0 3px;
}

.team-card:hover .team-social {
    top: 0;
}
